<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %+20logger{20} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="com.mm.tetris.util" level="info"/>
  <logger name="com.mm.tetris.gui" level="debug"/>
  <logger name="com.mm.tetris.controller" level="debug"/>
  <logger name="com.mm.tetris.board" level="debug"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>