<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %+24logger{24} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.mm.tetris.board" level="info"/>
  <logger name="com.mm.tetris.controller" level="info"/>
  <logger name="com.mm.tetris.controller.input" level="info"/>
  <logger name="com.mm.tetris.controller.input.action.gameplay" level="info"/>
  <logger name="com.mm.tetris.gui" level="info"/>
  <logger name="com.mm.tetris.score.impl" level="info"/>
  <logger name="com.mm.tetris.util" level="info"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>